.App {
  text-align: center;
  Background-color: #A8A7A7;
  height: 1000px;
}



#siteName{
  color: #E81750;
}



.container{
  background-color: #374885;
  color: white;
}

.list-group-item{
  background-color: #374885;
}

.rules-container{
  background-color: #374885;
  margin-top: 10px;
  margin-left: 75px;
  margin-right: 75px; 
  color:white;

}
.detail-container{
  background-color: wheat;
  margin: 25px;
  padding: 15px;
  font-size: small;
}

.card-group{
  padding-top: 20px;
}


