
.App {
  text-align: center;
  background-size: 100%;
}

#siteName{
  color: #E81750;
  padding-left: 10px;
  font-weight: 800;
}

.search-form{
  display: flex;
}

.rules-container{
  background-color: #cc527be3;
  margin: 10%;
  color:white;

}

.card{
  margin-top: 20px;
  margin-bottom: 40px;
}

.col-sm-12{
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}


.detail-container{
  background-color: wheat;
  margin: 25px;
  padding: 15px;
  font-size: small;
}

.form-container{
  background-color: #cc527be3;
  margin: 8% 15% 15% 15%;
  padding: 5%;
  width: auto; 
  color: white;
}


