.App {
  text-align: center;
  Background-color: #A8D0E6;
  height: 1000px;
}

nav{
  margin: 5px;
  padding: 7px;
  border-radius: 2px;
  background-color: #24305E;
}

#siteName{
  color: #E85A4F;
}

.btn {
  margin: 5px;
  padding: 5px;
}

.text-link {
  color: white;
  text-decoration: inherit;
}

.container{
  background-color: #374885;
  color: white;
}

.list-group-item{
  background-color: #374885;
}

.rules-container{
  background-color: #374885;
  margin-top: 10px;
  margin-left: 75px;
  margin-right: 75px; 
  color:white;

}
.detail-container{
  background-color: wheat;
  margin: 25px;
  padding: 15px;
  font-size: small;
}

.card-group{
  padding-top: 20px;
}


